# Neo4j domain connection
NEO4J_DOMAIN_URI=bolt://localhost:7687
NEO4J_DOMAIN_USER=neo4j
NEO4J_DOMAIN_PASSWORD=watchline
NEO4J_DOMAIN_DATABASE=neo4j

# Neo4j epistemic connection
NEO4J_EPISTEMIC_URI=bolt://localhost:7688
NEO4J_EPISTEMIC_USER=neo4j
NEO4J_EPISTEMIC_PASSWORD=watchline
NEO4J_EPISTEMIC_DATABASE=neo4j

# Anthropic API Key:
ANTHROPIC_API_KEY=...

# Tavily API Key:
TAVILY_API_KEY=...